body {
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --transition-distance:0%;
  --transition-time:0ms
}

#board {
  margin: auto;
  display: grid;
  width: max-content;
  grid-template-columns: repeat(7, 11vmin);
  grid-template-rows: repeat(6, 11vmin);
  background-image: url("../assets/images/Board2.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

#board>div {
  border-radius: 50%;
  margin: 12%;
  margin-left: 15.1%;
  display: grid;
  height: 72%;
  width:72%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}

#reset-button {
  margin-top: 20px;
}

.fall {
  animation-name: fall-animation;
  animation-duration: var(--transition-time);
}

@keyframes fall-animation {
  from {
    transform: translateY(var(--transition-distance));
  }
  
  to {
    transform: translateY(0);
  }
}
h2{
  margin-bottom: 15%;
}
h1{
  margin:0;
}