body {
  display: grid;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#board {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(7,11vmin);
  grid-template-rows: repeat(6,11vmin);
  background-color: #007bc3;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5%;
}
#board div {
  border-radius: 50%;

  margin: 7px;
  display: grid;
  height: 80%;
  width: 80%;
  /* background-image: url("../assets/images/RedPiece.png");*/
  background-size: cover;
  
}
#reset-button {
  text-align: center;
}
img {
  position:absolute;
  height: 11vmin;
  z-index: -1;
  
}
.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
      transform: translateY(-500px);
  }
  to {
      transform: translateY(0);
  }
}